In [5]:
import pandas as pd
#import numpy as np
csv_test = pd.read_csv('test1.csv', delimiter = ',')

In [6]:
csv_test.rename(columns={'_ws.col.Time' : 'time',
                        'ip.flags' : 'ip_flags',
                        'ip.len' : 'ip_len',
                        'tcp.hdr_len' : 'tcp_hdr_len',
                        'tcp.flags' : 'tcp_flags',
                        'tcp.window_size_value' : 'tcp_window_size_value'}, inplace=True)
df = pd.DataFrame(csv_test)
#df.head()

In [7]:
df['stalling_event'] = 0
df.loc[(df.time > 36.8) & (df.time < 70.8), 'stalling_event'] = '1'
df.loc[(df.time > 71.1) & (df.time < 104.7), 'stalling_event'] = '1'
df.loc[(df.time > 105) & (df.time < 153.4), 'stalling_event'] = '1'
#df.loc[(df.time > 36.5) & (df.time < 38), 'stalling_event'] = '1'
#df.loc[(df.time > 36.8) & (df.time < 37.1), 'stalling_event'] = '1'
#df.loc[(df.time > 70.8) & (df.time < 104.9), 'stalling_event'] = '1'
#df.loc[(df.time > 71.1) & (df.time < 71.3), 'stalling_event'] = '1'
#df.loc[(df.time > 104.7) & (df.time < 138.4), 'stalling_event'] = '1'
#df.loc[(df.time > 105) & (df.time < 105.2), 'stalling_event'] = '1'
#df.loc[(df.time > 153.4) & (df.time < 201.9), 'stalling_event'] = '1'
df = df.replace(['0x'], ['' ''], regex=True)
df.head()

,time,ip_flags,ip_len,tcp_hdr_len,tcp_flags,tcp_window_size_value,stalling_event
0,0.000000,00000000,1089.0,NaN,NaN,NaN,0
1,0.001252,00000000,1076.0,NaN,NaN,NaN,0
2,3.313382,00004000,40.0,20.0,00000011,16425.0,0
3,3.313489,00004000,40.0,20.0,00000010,65000.0,0
4,3.329486,00004000,52.0,32.0,00000002,8192.0,0

In [8]:
export_csv = df.to_csv (r'C:\Users\angel\OneDrive\Documentos\Universidad\Cuarto\TFG\full_test_sin0x.csv', index = None, header=True)